In [2]:
1000*2533

2533000

In [3]:
5000-3

4997

In [4]:
500-3

497

In [11]:
print(500-9)

491

In [13]:
print("correct intend");print("incorrect intend")

correct intend
incorrect intend

In [12]:
if True : 
    print("good")

good

In [21]:
x = 100
y = 200
print(x+ y)

print(x-y)

print(x*y)

print(x/y)

n = 9

n**2

print(int(x)+int(y))

300
-100
20000
0.5
300

In [23]:
x=300
x**3

27000000

In [28]:
print('원의 반지름',4.0)
print('원의 면적',4.0*4.0)
print('원의 둘레',2.0*3.14*4.0)

원의 반지름 4.0
원의 면적 16.0
원의 둘레 25.12

In [32]:
radius = 4.0
print('원의 반지름',radius)
print('원의 면적',radius*radius)
print('원의 둘레',2.0*3.14*radius)

원의 반지름 4.0
원의 면적 16.0
원의 둘레 25.12

In [39]:
name = '홍길동'
age = 27
print('"안녕!"나는',name,'이야. 나는 나이가',age,'살이야.')

"안녕!"나는 홍길동 이야. 나는 나이가 27 살이야.

In [41]:
width = 20
height=40
width = 30

area = width * height
print('사각형의 면적',area)

사각형의 면적 1200

In [1]:
pow(2,1/2)

1.4142135623730951

In [13]:
intnum =100
floatnum = 100.0
print(type(intnum))
print(type(floatnum))
type(intnum)

<class 'int'>
<class 'float'>

int

In [18]:
intnum=100
num = str(intnum)
strData = "안녕"
type(num)
print(strData+str(intnum))

안녕100

In [22]:
hello = "여러분 안녕하세요!!"
print(hello)

여러분 안녕하세요!!

In [24]:
hello = '"여러분" 안녕하세요!!'
print(hello)

"여러분" 안녕하세요!!

In [26]:
hello_1 = '''안녕하세요 반갑습니다
여기는 스마트 팩토리 수업반 입니다.'''
print(hello_1)

안녕하세요 반갑습니다
여기는 스마트 팩토리 수업반 입니다.

In [29]:
hello_2 = "안녕 \n하세요"
print(hello_2)

안녕
하세요

In [33]:
data = '\U00000061'
print(data)

a

In [35]:
print(2 == 3)

False

In [37]:
print(4 == 2*2)

True

In [42]:
print(2 == 3 & 4==2*2)
print(2==3 or 4 == 2*2)

False
True

In [43]:
print(2!=3)

True

In [49]:
#복소수 연산
number_1 = 2+3j
number_2 = 3+6j
print(number_1.imag)
print(number_1.real)
print(number_1.imag+number_1.real)
print(number_1.imag-number_1.real)
print(number_1.imag*number_1.real)
print(number_1.imag%number_1.real)

3.0
2.0
5.0
1.0
6.0
1.0

In [52]:
print(number_1+number_2)
print(number_1-number_2)
print(number_1*number_2)
print(number_1/number_2)

(5+9j)
(-1-3j)
(-12+21j)
(0.5333333333333333-0.06666666666666667j)

In [54]:
#bool 테스트
bool(-1)

True

In [56]:
bool(0)

False

In [59]:
bool(1)

True

In [62]:
bool(None)

False

In [63]:
bool('')

False

In [68]:
str = 'hello'
bool(str )

True

In [ ]:
'''
이것은 
지금 파이썬 데이터 코딩 하고 있는 모습입니다.
그렇죠
'''

print('맞나요?')

In [73]:
input_data = input("당신이 사는 곳은?")
print(input_data)

당신이 사는 곳은?seoul
seoul

In [1]:
input_name = input("이름을 입력하세요!")
print(input_name , '님 반갑습니다.')

이름을 입력하세요!조재호
조재호 님 반갑습니다.

In [2]:
num = 100;
print('num = ',num)
num = num+100
print('num = ',num)
num = num+100
print('num = ',num)

num =  100
num =  200
num =  300

In [8]:
#IF문

철수 = 20
if 철수 < 20:
    print("청소년 할인 됩니다.")
print("돈내세요!!")

돈내세요!!

In [ ]:
걸음 = 1001
if 걸음 >= 1000:
    print("목표달성!")
print("마무리")

In [1]:
input_step = input("걸음을 입력하세요!")
if int(input_step) >= 1000:
    print("목표달성!")

걸음을 입력하세요!10000
목표달성!

In [5]:
date_time = 9
if(date_time<12):
    print("오전입니다")
else :
    print("오후입니다")

오전입니다

In [6]:
date_time = input("지금 시각은?")
now_date = int(date_time)
if(now_date<12):
    print("오전입니다")
else:
    print("오후입니다")

지금 시각은?2
오전입니다

In [12]:
man_power = input("맨파워는?")
now_power = int(man_power)
if(now_power<100):
    print("시비걸기")
elif(now_power <= 200):
    print("고민해보기")
elif(now_power<400):
    print("형님하기")
elif(now_power>=400):
    print("무릎꿇기")

맨파워는?1
시비걸기

#while 문

In [14]:
while False:
    print("10분간 휴식")

#For 문

In [16]:
arr=range(6)
print(arr)

range(0, 6)

In [25]:
for i in range(0,6):
    print(i)

0
1
2
3
4
5

In [27]:
arr = ['영희', '철수', '만수', '똘이']
for i in arr:
    print(i)

영희
철수
만수
똘이

In [29]:
for _ in range(10):
    print("Hello World!!")

Hello World!!
Hello World!!
Hello World!!
Hello World!!
Hello World!!
Hello World!!
Hello World!!
Hello World!!
Hello World!!
Hello World!!

# range()
    
### range ([start].[stop],[step])

In [37]:
arr = range(1,10,2) 
print(len(arr))
print(type(arr))
for i in arr:
    print(i)

5
<class 'range'>
1
3
5
7
9

In [53]:
sum = 0
for i in range(101):
    sum = sum+i
print('1부터 100까지의 합',sum)

1부터 100까지의 합 5050

In [58]:
multi=2
result=1
for i in range(1,10):
    result= multi*i
    print(multi,'곱하기',i,'는' ,result)

2 곱하기 1 는 2
2 곱하기 2 는 4
2 곱하기 3 는 6
2 곱하기 4 는 8
2 곱하기 5 는 10
2 곱하기 6 는 12
2 곱하기 7 는 14
2 곱하기 8 는 16
2 곱하기 9 는 18

#### n factorial

In [ ]:
n = int(input('input your number'))
fact = 1
for i in range(1,n+1):
    fact = fact*i
    print(fact)

In [71]:
n =int(input('합계를 구할 수를 입력하세요 : '))
s=0
i=1
while i <= n:
    s = s+i
    i += 1
print('1부터 {}까지의 합은 {}.{}'.format(n,s,"안녕"))

합계를 구할 수를 입력하세요 : 0
1부터 0까지의 합은 0.안녕

In [76]:
n=-1
while n<=0:
    n=int(input('합계를 구할 양의 정수를 입력하세요 :'))
s=0
for i in range(1,n+1):
    s=s+i
print('1부터 {}까지의 합은 {}'.format(n,s))

합계를 구할 양의 정수를 입력하세요 :123
1부터 123까지의 합은 7626

In [79]:
n=-1
while n<=0:
    n=int(input('입력하세요'))
    if(n<0):
        print("양수를 입력했어요")
    
s=0
for i in range(1,n+1):
    s=s+i
print(s)

입력하세요15
120

## break, continue

In [85]:
str = "Programing Language"
for i in str:
    if i in ['a','e','i','o','u']:
        break
    print(i)
print("The End")

P
r
The End

In [84]:
bool('T' in ['i','a'])

False

In [87]:
str = "Programing Language"
for i in str:
    if i in ['a','e','i','o','u']:
        continue
    print(i)
print("The End")

P
r
g
r
m
n
g

L
n
g
g
The End