In [2]:
1000*2533

2533000

In [3]:
5000-3

4997

In [4]:
500-3

497

In [11]:
print(500-9)

491

In [13]:
print("correct intend");print("incorrect intend")

correct intend
incorrect intend

In [12]:
if True : 
    print("good")

good

In [21]:
x = 100
y = 200
print(x+ y)

print(x-y)

print(x*y)

print(x/y)

n = 9

n**2

print(int(x)+int(y))

300
-100
20000
0.5
300

In [23]:
x=300
x**3

27000000

In [28]:
print('원의 반지름',4.0)
print('원의 면적',4.0*4.0)
print('원의 둘레',2.0*3.14*4.0)

원의 반지름 4.0
원의 면적 16.0
원의 둘레 25.12

In [32]:
radius = 4.0
print('원의 반지름',radius)
print('원의 면적',radius*radius)
print('원의 둘레',2.0*3.14*radius)

원의 반지름 4.0
원의 면적 16.0
원의 둘레 25.12

In [39]:
name = '홍길동'
age = 27
print('"안녕!"나는',name,'이야. 나는 나이가',age,'살이야.')

"안녕!"나는 홍길동 이야. 나는 나이가 27 살이야.

In [41]:
width = 20
height=40
width = 30

area = width * height
print('사각형의 면적',area)

사각형의 면적 1200

In [1]:
pow(2,1/2)

1.4142135623730951

In [13]:
intnum =100
floatnum = 100.0
print(type(intnum))
print(type(floatnum))
type(intnum)

<class 'int'>
<class 'float'>

int

In [18]:
intnum=100
num = str(intnum)
strData = "안녕"
type(num)
print(strData+str(intnum))

안녕100

In [22]:
hello = "여러분 안녕하세요!!"
print(hello)

여러분 안녕하세요!!

In [24]:
hello = '"여러분" 안녕하세요!!'
print(hello)

"여러분" 안녕하세요!!

In [26]:
hello_1 = '''안녕하세요 반갑습니다
여기는 스마트 팩토리 수업반 입니다.'''
print(hello_1)

안녕하세요 반갑습니다
여기는 스마트 팩토리 수업반 입니다.

In [29]:
hello_2 = "안녕 \n하세요"
print(hello_2)

안녕
하세요

In [33]:
data = '\U00000061'
print(data)

a

In [35]:
print(2 == 3)

False

In [37]:
print(4 == 2*2)

True

In [42]:
print(2 == 3 & 4==2*2)
print(2==3 or 4 == 2*2)

False
True

In [43]:
print(2!=3)

True

In [49]:
#복소수 연산
number_1 = 2+3j
number_2 = 3+6j
print(number_1.imag)
print(number_1.real)
print(number_1.imag+number_1.real)
print(number_1.imag-number_1.real)
print(number_1.imag*number_1.real)
print(number_1.imag%number_1.real)

3.0
2.0
5.0
1.0
6.0
1.0

In [52]:
print(number_1+number_2)
print(number_1-number_2)
print(number_1*number_2)
print(number_1/number_2)

(5+9j)
(-1-3j)
(-12+21j)
(0.5333333333333333-0.06666666666666667j)

In [54]:
#bool 테스트
bool(-1)

True

In [56]:
bool(0)

False

In [59]:
bool(1)

True

In [62]:
bool(None)

False

In [63]:
bool('')

False

In [68]:
str = 'hello'
bool(str )

True

In [ ]:
'''
이것은 
지금 파이썬 데이터 코딩 하고 있는 모습입니다.
그렇죠
'''

print('맞나요?')

In [73]:
input_data = input("당신이 사는 곳은?")
print(input_data)

당신이 사는 곳은?seoul
seoul

In [ ]:
input_name = input("이름을 입력하세요!")
print(input_name , '님 반갑습니다.')

In [ ]:
num = 100;
print('num = ',num)
num = num+100
print('num = ',num)
num = num+100
print('num = ',num)